.stats{
    
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2% 0;
        width: 95.2%;
    }
    .Top {
        background-color: #fff;
        border-radius: 22px;
        box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
        padding: 2%;
        width: 45%;
    }
    .head {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .head p:first-child {
        font-family: Montserrat,sans-serif;
        font-weight: 700;
    }
    
    
    
    user agent stylesheet
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    select {
        text-indent: 0.5rem;
    }
    
    select {
        background-color: #fff;
        border: none;
        color: #666;
    }
    .Schedules {
        background-color: #fff;
        border-radius: 22px;
        box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
        padding: 2%;
        width: 45%;
    }
    .head p:nth-child(2) {
        color: #666;
        font-family: Lato,sans-serif;
        font-weight: 400;
    }
    .data1 {
        border-left: 4px solid #9bdd7c;
        line-height: 4px;
        margin: 2.5% 1%;
        padding: 1px 10px;
    }
    .data1 p:first-child {
        color: #666;
        font-family: Lato,sans-serif;
        font-size: 16px;
    }
    .data1 p:nth-child(2) {
        color: #999;
        font-family: Lato,sans-serif;
        font-size: 13px;
    }
    .data1 p:nth-child(3) {
        color: #999;
        font-family: Lato,sans-serif;
        font-size: 12px;
    }
    .data2 {
        border-left: 4px solid #6972c3;
        line-height: 4px;
        margin: 2.5% 1%;
        padding: 1px 10px;
    }
    .data2{
        color: #999;
        font-family: Lato,sans-serif;
        font-size: 12px;
    }

    
      
    @media (max-width: 768px){
 .Stats {
    display: block;
    margin: 2% 3%;
}
.Stats .Top {
    margin: 2% 0;
    width: 90%;
}
.Schedules, .main .Stats .top-product {
    margin: 2% 0;
    width: 90%;
}
.Stats {
    display: block;
    margin: 2% 3%;
  }
  
  .Top {
    margin: 2% 0;
    width: 90%;
  }
  
  
}

    