/* App.css */

/* ...existing styles... */

.main {
  display: flex;
}

.sidebar {
  flex: 1;
}

.navbar {
  flex: 3;
}

.dashboard-container {
  flex: 3; /* Adjust the value as needed to control the space taken by the dashboard and cards */
  display: flex;
  flex-direction: column;
}


@media (max-width: 768px){
 
  .main {
      flex-direction: column;
      width: 100%;
  
}
}
